/* Boylerplate */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #00AEEE;
    width: 100%;
}

/* NAVBAR - Start */
nav {
    background-color: #008EC2;
    height: 80px;
    width: 100%;
}
/* NAVBAR - SLUT */